<div id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 customFont">
      <h1 class="page-header">About me</h1>
      <img src="/assets/img/myImg.jpg" class="img-responsive center-block" style="margin-bottom: 15px;">

      <p>I am a motivated IT student of Haaga-Helia UAS with a passion for front-end development and a former marketing background. My skills include HTML5, CSS3, JavaScript, Bootstrap, jQuery, AJAX/JSON and basic TypeScript and Angular 4.</p>
      <p>Currently I am looking for a job within Helsinki/Espoo/Vantaa area to kick-start my career in tech. I am open to any opportunities that will allow me to develop myself professionally within front-end development field, including positions within digital marketing where front-end skills are needed. Please do not hesitate to contact me if you have any questions - I can be reached by Linkedin messages or by email: alexa.novikova(at)gmail.com</p>
      <br>

    </div>
  </div>
</div>
